.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fixed {
  position: fixed;
  bottom: 0px;
  background-color: #212121;
  height: 105px;
  padding-top:7px;
  align-items: center;
}
.paddingPlay{
  padding: 30px 25px;
}

.input[type="text"] {
  border: 2px solid #61dafb;
  font-size: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 435px;
  height: 0.3rem;
  margin: 10px 0px 10px 0px;
  /* accent-color: ; */
  border-radius: 5px;
  box-shadow:  0 20px 30px 0 rgba(1, 9, 251, 0.2), 0 10px 20px 0 rgba(4, 91, 241, 0.19);
}

.disableSelect {
  -webkit-user-select: none;
  user-select: none;

}

/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #7043f7;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 0.5rem;
} */

.songCardAlign {
  display: inline-block;
  padding: 0px 25px;
  cursor: pointer;
}
.songCardImage {
  border: 0.1rem solid #8684f2;
  border-radius: 5px;
  padding: 0px;
}

.buyPremium{
  font-size: 28px;
  color: white;
  font-weight: 900;
  padding: 40px;
}

.login-box {
  border : solid 1px #282c34;
  border-radius: 10px;
  box-shadow:  0 4px 8px 0 rgba(220, 231, 250, 0.2), 0 6px 20px 0 rgba(220, 231, 250, 0.19);
  width: 500px;
  align-items: center;
  padding: 60px 30px;
}

.signup-box {
  border : solid 1px #282c34;
  border-radius: 10px;
  box-shadow:  0 4px 8px 0 rgba(220, 231, 250, 0.2), 0 6px 20px 0 rgba(220, 231, 250, 0.19);
  width: 1000px;
  align-items: center;
  padding: 25px 30px 25px 30px;
}

.submitButton {
  width: 30%;
  height: 44px;
  border-radius: 10px;
  color: white;
  background-color: #524ff7;
}


.td {
  padding: 20px;
  align-items: center;
  text-align: center;
}
.loginbar {
  width: 350px;
  height: 38px;
  outline: 0;
  border: solid 3px #8684f2;
  padding: 20px;
  border-radius: 5px;
}

.loginbar:focus{
  border: solid 4px #8684f2;
}
.signup-link {
  color: violet;
}

.codered{
  display : none;
  color : red;
  font-size: 20px;
}

.nav-anchor {
    color: #61dafb; 
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border: 2px solid transparent;
    cursor: pointer;
}

.nav-anchor:hover {
  transition: 1.1s;
  border-bottom: 2px solid pink;
  border-width: 50%;
  color:  #D65472;
}

.nav-anchor-clicked {
  font-size: 27px;
  text-decoration: none;
  cursor: pointer;
  color:  #524ff7;
  text-shadow: 0.5px 0.5px 1.7px #4ac9f0;
}

.songCard{
  cursor: "pointer";
  display: 'none'
}


.songCardAlignIcon {
  padding: 0px 15px;
}
.searchBar {
  width: 500px;
  caret-shape: "20px";
  height: 40px;
  text-align: center;
  outline: 0;
  margin: 25px 0px 20px 0px;
  font-size: 20px;
  font-weight: bold;
  color:blue;
  padding: 10px;
  /* border: 0.1rem solid #8684f2; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(221, 4, 4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  
.searchBar:focus {
  border-color: #8684f2;
  border-radius: 10px;
  box-shadow:  0 20px 30px 0 rgba(1, 9, 251, 0.2), 0 10px 20px 0 rgba(4, 91, 241, 0.19);
}

.left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 300px;
  word-wrap: break-word;
}



.userCardName {
  font-weight: bold;
  font-size: 20px;  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #4ac9f0;
}

.userCardUsername {
  font-size: 15px;
  color: pink;
}

.userCardName {
  padding: 17px;
}
.userCardButton {
  padding: 20px 40px 15px 115px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #4ac9f0;
}

.userCardRequestButton {
  color:white;
  padding: 5px 20px;
  border: 1px solid #4ac9f0;
  border-radius: 5px;
}
.userCardRequestButtonEnabled {
  background-color: #1d21f5;
}

.userCardRequestButtonDisabled {
  background-color: #6164f2;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.profile-section {
  cursor: pointer;
}
.profile-icon {
  position: absolute;
  right: 40px;
  top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  background-color: #D65472;
  border-radius: 20px;
}

ul {
  position: absolute;
  right: 50px;
  top: 63px;
  list-style-type: none;
  background-color: #4ac9f0;
  box-shadow:  0 2px 2px 0 #4ac9f0, 0 2px 2px 0 #4ac9f0;
  border-radius: 6px;
  padding:7px 7px 7px 0px;
}

.createGroupButton {
  cursor: pointer;
  position: absolute;
  bottom: 17%;
  padding: 10px 17px;
  background-color: #D65472;
  color: #fff;
  border-radius: 20px;
  font-size: 18px;
  margin-left: 64%;
}

.createGroupButton:hover {
  color: #1efaa9;
}

.createGroupSection {
  border-radius: 10px;
  border: 0px solid #fff;
  box-shadow:  0 4px 8px 0 rgba(220, 231, 250, 0.2), 0 6px 20px 0 rgba(220, 231, 250, 0.19);
  margin: 40px;
  margin-top: 25px;
  width: 55%;
  padding: 10px;
}

.groupSectionName {
  width: 31%;
  outline: 0;
  padding: 5px 8px;
  border-radius: 10px;
  text-align: center;
  color: #524ff7;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
}

.groupSectionName:focus {
  border-color: #8684f2;
  border-radius: 10px;
  box-shadow:  0 20px 30px 0 rgba(1, 9, 251, 0.2), 0 10px 20px 0 rgba(4, 91, 241, 0.19);
}

.createGroupMembers {
  width: 64%;
  height: auto;
  background-color: #11ede9;
  border-radius: 10px;
  padding: 20px;
}

.createGroupMembersButton {
  color: #fff; 
  background-color: #11abed;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  font-size: 16px;
}

.createGroupSubmit {
  padding: 10px;
  margin: 20px;
  font-size: 17px;
  background-color: #524ff7;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

.loading {
  margin: 100px 20px 20px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
}

.cancelGroup {
  padding: 8px 14px;
  margin: 0px 5px;
  border-radius: 5px;
  font-size: 17px;
  /* font-weight: bold; */
  background-color: #aebdf5;
  color: #455fbf;
}

.spacing {
  padding: 20px;
}

.searchSongsAnimation {
  width: 10px;
  height: 10px;
}

.groupCard {
  /* padding: 50px; */
  background-color: #1efaa9;
  margin: 20px;
  border-radius: 8px;
  cursor: pointer;
  /* border-top-right-radius: 10px; */
  /* border-bottom-right-radius: 10px; */

}

.groupCardName{
  padding: 10px 60px;
  color: #08109e;
  border-radius: 8px;

}

.groupBackButton {
  cursor: pointer;
  margin-top: -10px;
}

.groupMemberCard {
  margin: 5px;
  background-color: #61dafb;
  width: 20%;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
  color: #0367fc;
  padding: 10px 30px 5px 30px;
}

.ProfileEditIcon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.profilePage {
  margin-top: 35px;
  width: 60%;
  border-radius: 5%;
  box-shadow:  0 20px 30px 0 rgba(1, 9, 251, 0.2), 0 10px 20px 0 rgba(4, 91, 241, 0.19);
  padding-left: 70px;
}

.profileInput {
  height: 38px;
  outline: 0;
  border: solid 1px #8684f2;
  padding: 20px;
  border-radius: 5px;
}
.profileInput:disabled {
  color: black;
  height: 38px;
  outline: 0;
  border: solid 1px #8684f2;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  cursor: not-allowed;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 20px; */
  padding-left: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .searchBar {
    width: 90%;
  }
  .center {
    width: 70%;
  }
  input[type="range"] {
    width: 50%;
  }
}